.links {
	

	text-align: center;
	th {
		font-size: 25px;
		margin-top: 60px;
	}
	table {
		width: 95%;
		margin: 40px;
	}

}

h1 { 
	color: orange;
	text-align: center;	

}
.firstrow {
	

	text-align: center;
	td {
		padding: 10px;
	}
	th {
		font-size: 35px;
		margin-top: 40px;
	}
	table {
		width: 98%;
		margin: 20px;
	}

}

.secondrow {
	

	text-align: center;
	td {
		padding: 20px;
	}
	th {
		font-size: 25px;
		margin-top: 60px;
	}
	table {
		width: 95%;
		margin: 40px;
	}

}

